.hero-img {
    animation: heroAmination 7s infinite linear alternate-reverse;
}

.hero-img-2 {
    animation-delay: 2s;
}
.hero-img-3 {
    animation-delay: -1s;
}

@keyframes heroAmination {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}
